<div class="container">
  <%= simple_form_for manga do |f| %>
    <%= f.input :title %>
    <%= f.input :synopsis %>
    <%= f.input :author %>
    <%= f.input :category %>
    <%= f.input :price_per_day %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-success mt-4" %>
  <% end %>
</div>
