<div class="container">
  <%= simple_form_for manga do |f| %>
    <%= f.input :title, label: "Titre :" %>
    <%= f.input :synopsis, label: "Synopsis :", hint: "Minimum 50 caractères" %>
    <%= f.input :author, label: "Auteur :"%>
    <%= f.input :category, label: "Catégorie :" %>
    <%= f.input :price_per_day, label: "Prix/jour en € :" %>
    <%= f.input :photo, as: :file, label: "Photo :" %>
    <%= f.button :submit, "Ajouter mon manga", class: "btn btn-success" %>
  <% end %>
</div>
