<div class = "d-flex flex-fill">
  <div class = "col-8 p-5 m-5 text-bg-info">
    <h1><strong><%= @manga.title %></h1></strong>
    <h3>Synopsis:</h2>
    <%# <%= cl_image_tag @manga.photo.key, height: 300, width: 400, crop: :fill %>
    <p><%= @manga.synopsis  %></p>
    <p>Auteur: <%= @manga.author %></p>
    <p>Catégorie: <%= @manga.category %></p>
  </div>
  <div class = "col-3 p-5">
    <p><%= link_to "retour à la liste des mangas", mangas_path, class: "btn btn-primary"%></p>
    <p><%= link_to "louer ce manga", new_manga_booking_path(@manga), class: "btn btn-primary"%></p>

  </div>
</div>
