<div class="row align-items-start">
  <!-- Première carte -->
  <div class="col-3 p-4 m-4 order-2">
    <div class="card">
      <div class="card-body sh">
        <div class="text-center" style="top: 140px;">
          <p>Mis en location par</p>
          <% if @user.avatar.nil? %>
            <p><%= image_tag "no_avatar.jpg", class: "avatar-large"%></p>
          <% else %>
            <%= cl_image_tag @user.avatar.key, height: 100, width: 100, crop: :fit %>
          <% end %>
          <p><%= @user.first_name %> <%= @user.last_name %></p>
          <p>Prix/Jour: <%= "#{@manga.price_per_day} €"%></p>
          <p><%= link_to "Louer ce manga", new_manga_booking_path(@manga), class: "btn btn-dark"%></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Deuxième carte -->
<%= link_to mangas_path do %>
  <button type="button" class="btn btn-secondary mt-3">
    <i class="fas fa-arrow-left"></i> Retour à la liste des mangas
  </button>
<% end %>
  <div class="col-8 p-4 m-4 order-1 d-flex">
        <%= cl_image_tag @manga.photo.key, height: 300, width: 300, crop: :fit, radius: 5 %>
        <div class="ms-5">
        <h1><strong><%= @manga.title %></strong></h1>
        <div class="mt-3">
          <h4>Synopsis:</h4>
          <p><em><%= @manga.synopsis %></em></p>
          <h4>Auteur: <%= @manga.author %></h4>
          <h4>Catégorie: <%= @manga.category %></h4>
          </div>
      </div>
  </div>
</div>
