<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3>RentMyManga</h3>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <form class="d-flex" action="<%= mangas_path %>" method="get">
        <input class="fc form-control me-2" type="search" name="query" value="<%= params[:query] %>" placeholder="Rechercher un manga par nom, auteur ou catégorie" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Recherche</button>
      </form>
      </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <div class="d-flex align-items-center"> <!-- Utilisation de flexbox pour aligner les éléments -->
  <li class="nav-item active">
    <%= link_to "Accueil", root_path, class: "btn btn-primary mx-2" %>
  </li>
  <li class="nav-item">
    <%= link_to "Liste des mangas", mangas_path, class: "btn btn-primary mx-2" %>
  </li>
    <li class="nav-item">
      <%= link_to "Vendre mon manga", new_manga_path, class: "btn btn-primary mx-2"%>
    </li>
    <li class="nav-item">
      <%= link_to "Tableau de bord", dashboard_path, class: "btn btn-primary mx-2" %>
    </li>
  </div>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag @user.profile_picture, height: 50, width: 50, crop: :fit %>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Mes mangas", annonce_path, class: "dropdown-item" %>
      <%= link_to "Mes réservations", "#", class: "dropdown-item" %>
      <%= link_to "Modifier son profil", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Se déconnecter", destroy_user_session_path , class: "dropdown-item", data: {turbo_method: :delete} %>
    </ul>
  </li>
</ul>

    </div>
  </div>
</div>
