<!DOCTYPE html>
<html>
  <head>
    <title>RentMyManga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>

  <footer>
    <span>RentMyManga</span>
    <span class="footer">
      <a href="#">Faq</a> |
      <a href="#">Le Blog</a> |
      <a href="#">Conditions générales de location</a> |
      <a href="#">Politique et confidentialité</a> |
      <a href="#">Nos mentions légales</a> |
      <a href="#">
    </span>
</footer>
</html>
