<!DOCTYPE html>
<html>
  <head>
    <title>RentMyManga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="/assets/flatpickr/flatpickr.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      flatpickr('.date-picker', {
        dateFormat: 'Y-m-d', // Format de la date
        // ... autres options
      });
    });
  </script>
  </head>

  <header class = "sticky-top">
    <%= render "shared/navbar" %>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer class="footer">
    <span class="text-light">RentMyManga</span>
    <span class="align-self-end">
      <%= link_to "Faq", faq_path  %> |
      <%= link_to "Conditions générales de location", condition_path  %> |
      <%= link_to "Politique et confidentialité", confident_path  %> |
      <%= link_to "Nos mentions légales", legal_path  %> |
    </span>
</footer>
</html>
